body {
  position: relative;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#eeeeee;border-color:#ddd; cursor: auto;}

#qr {
    width: 185px;
    height: 185px;
    display: inline-block;
}

#qr_addr {
    position: relative;
    z-index: 1;
}

legend {
    margin-bottom: 0px;
}

.form-hide {
    display: none;
}

#site {
  padding-top: 70px;
}

/* Front page password form */

#header {
  padding-top: 120px;
}

.sales-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sales-subtitle {
  text-align: center;
  margin-bottom: 14px
  margin-top: -10px;
  color: #666;
}

#header h1 {
  font-size: 2em;
  text-align: center;
}

#header h2 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 5px;
}

#form-well {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 0px;
}

#form-well input {
    margin-bottom: 0;
}

#form-well input[type='text'] {
    width: 570px;
}

#form-well input[type='password'] {
    width: 470px;
}

#form-well .btn-success {
  width: 250px;
}

#open-sesame {
  width: 120px;
}

/* Footer */
footer p {
  margin-top:15px;
  text-align: center;
}
