/* 
 * Primary
 */
html, body {
  height: 100%; /* The html and body elements cannot have any padding or margin for sticky footer. */
}

#wrap { /* Wrapper for page content to push down footer */
  min-height: 100%;
  height: auto;
  margin: 0 auto -35px; /* Negative indent footer by its height */
  padding: 0 0 35px; /* Pad bottom by footer height */
}

#footer {
  height: 35px; /* Set the fixed height of the footer here */
  /*background-color: #f5f5f5;*/
  padding-top: 6px;
  text-align:center;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{
  background-color:#eeeeee;
  border-color:#ddd; cursor: auto;
}


/* 
 * Logged in site specific
 */
#site {
  padding-top: 70px;
}

#qr {
    width: 185px;
    height: 185px;
    display: inline-block;
}

#qr_addr {
    position: relative;
    z-index: 1;
}

legend {
    margin-bottom: 0px;
}

.form-hide {
    display: none;
}

/* Balances pane */
#balances_container .panel-heading {
  padding: 5px 15px;  
}

#balances_container .header-address {
  margin-right: 20px;
  font-size:13px;
  margin-top: 9px;
}
