/* clearfix */
/*.isotope:before,
.isotope:after {
  content: " ";
  display: table;
}*/

.asset-item {
  position: relative;
  float: left;
  min-width: 100px;
  height: 100px;
  margin: 5px;
  padding: 12px 8px 8px 8px;
  border-style:solid;
  border-width:3px;  
  border-radius: 3px;  
}

.asset-item > * {
  margin: 0;
  padding: 0;
}

.asset-item .name {
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.asset-item .balance {
  position: relative;
  bottom: -5px;
  /*right: -5px;*/
  letter-spacing: 0;
  font-size: 15px;
  font-weight: bold;
}

.asset-item.btc          { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.asset-item.xcp          { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.asset-item.myasset     { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.asset-item.othersasset { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
