
button#createNewAddress { margin: 12px; }

input#addressNicknameEditable { width: 220px; } /* for the popup x-editable control */

div#balancesContainer div[role=content] { padding: 5px; }

div#balancesContainer div.popover { width: 300px; }

div#balancesContainer div.popover h3.popover-title { color: black; }

.asset-item {
  position: relative;
  float: left;
  min-width: 100px;
  height: 100px;
  margin: 5px;
  padding: 12px 8px 8px 8px;
  border-style:solid;
  border-width:3px;  
  border-radius: 3px;  
}

.asset-item > * {
  margin: 0;
  padding: 0;
}

.asset-item .name {
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.asset-item .balance {
  position: relative;
  /*bottom: -5px;*/
  letter-spacing: 0;
  font-size: 15px;
  font-weight: bold;
  
  bottom: 12px;
  line-height: 18px;
}

/*.asset-item .issued {
  position: relative;
  bottom: 10px;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: bold;
}*/

.asset-item.btc          { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.asset-item.xcp          { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.asset-item.myasset     { color: #8a6d3b; background-color: #faebcc; border-color: #f4dbab; }
.asset-item.othersasset { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
