#betting #feed_url {
  width: 450px;
}

#betting #feed_url {
  width: 450px;
}

#betting .widget-body {
  min-height: inherit;
}

#betting span.value {
	font-weight: bold;
}

#betting label.radio {
	margin-top: 0;
}

#betting div.bet-params div.row {
  margin-bottom: 15px;
  font-size: 19px !important;
}
#betting div.bet-params label {
  text-align: right !important;
}

#betting input.number {
  text-align: right;
  display: inline-block;
  width: 70%;
}

#betting #feedWizard label {
  text-align: right;
  font-size: 16px !important;
}

#betting .invalid {
  color:red;
}

#betting #feedWizard  div.show-advanced label {
  font-size: 11px !important;
}

#betting .winnings label{
  font-size: 14px !important;
  font-weight: bold !important;
}

#betting .winnings span{
  font-size: 14px;
}

#betting #counterbets tr.selectedCounterBet td {
  background-color: #a8829f !important;
  font-weight: bold;
  color:#FFF;
}

#betting #counterbets th {
  text-align: center !important;
}


#betting div.odd-bar {
  display: inline-block;
  width: 76px;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 3px;
}

#betting div.odd-bar div.bg-color-redLight {
  right: 0;
}

#betting div.bet-confim {
  font-size: 19px !important;
  padding: 20px;
  padding-top: 0;
}

#matchedbets td.number, #openbets td.number {
  text-align: right;
}

#matchedbets td.date, #openbets td.date {
  white-space: nowrap;
}

#matchedbets td.bold, #openbets td.bold {
  font-weight: bold;
}