#buySellWizard div.tab-content {
    font-size: 19px;
}

#buySellWizard div.row {
    padding: 0 0 20px 5px;
}

#buySellWizard .radioBtn {
    border: 1px solid #555;
}

#buySellWizard span.invalid {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 14px;
    color: #D56161;
}

#buySellWizard div.form-bootstrapWizard {
    padding-bottom: 60px;
}

#buySellWizard .errorRedColor {
    color: #D56161;
}

#buySellWizard .addressSelect {
    min-width: 500px;
}

#buySellWizard div.row:last-child {
    padding-bottom: 0;
}

/*table.orderBook {
    max-height: 500px;
}*/

table.orderBook td {
    text-align: right;
}

.buySellRow {
   max-width: 1000px;
}

.buySellAddressRow {
   min-width:300px;
   max-width: 1000px;
   padding-bottom: 0px;
}

.buySellBtnGroup {
   min-width: 300px;
}

.buySellRestrictedWidthControl {
   max-width: 300px;
}

.buySellBuyAssetSel {
   min-width: 280px;
   max-width: 350px;
}

.buySellSellAssetSel {
   min-width: 335px;
   max-width: 405px;
}

.buySellSummaryTable {
  max-width: 800px;
}

.buySellOverrideTextPos1 {
  position:relative;
  bottom:5px;
}

.buySellOverrideTextPos2 {
  position:relative;
  bottom:10px;
}

.buySellPriceHistory {
  height: 280px;
  min-width: 500px;
}

.assetSelector section.col {
  height: 65px;
}
