#chatPane {
  position: absolute;
  /*position: fixed;*/
  top: 49px;
  right: 0;
  /*height: 100%;*/
  z-index: 1002;
  width: 280px;
  box-sizing: border-box;
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 1px 1px;
  
  /* Style for default theme */
  /*background-color: #474544;
  color: #FFF;*/
  /*border-color: #222;*/
  /* For ultralight theme */
  background: linear-gradient(to right,#F7F7F7 99%,#CACACA 100%);
  color: #202427;
  border-color: rgb(148, 152, 160);
}

#chatContentDiv {
  padding: 0 8px;
  width: 100%;
  height: 100%;
}

#chatPane h2 {
  text-align: center;
  margin:5px 0 5px 0;
  height: 30px;
  color: #69737A;
}

p.chatMessage {
 margin: 0;
 word-wrap: break-word;
}

span.chatLineOpEmote {
  font-weight: bold;
  color: #a94442;
}

span.chatLineEmote {
  font-weight: bold;
  color: #2C3742;
}

span.chatLineSelfEmote {
  font-weight: bold;
  color: #A57225;
}

span.chatLineSystem {
  font-weight: bold;
  background-color: #A65858;
  color: white;  
}

#chatControlDiv {
  margin: 10px 0 0 0;
  padding: 0 10px;
  height: 40px;
  width: 279px; /* 1 less so the scrollbar doesn't show (bit of a hack) */
}
