#buySellWizard div.tab-content {
    font-size: 19px;
}

#buySellWizard div.row {
    padding: 0 0 20px 5px;
}

#buySellWizard .radioBtn {
    border: 1px solid #555;
}

#buySellWizard span.invalid {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 14px;
    color: #D56161;
}

#buySellWizard div.form-bootstrapWizard {
    padding-bottom: 60px;
}

#buySellWizard .errorRedColor {
    color: #D56161;
}

#buySellWizard .addressSelect {
    min-width: 500px;
}

#buySellWizard div.row:last-child {
    padding-bottom: 0;
}

/*table.orderBook {
    max-height: 500px;
}*/

table.orderBook td {
    text-align: right;
    cursor: pointer;
}

.buySellRow {
   max-width: 1000px;
}

.buySellAddressRow {
   min-width:300px;
   max-width: 1000px;
   padding-bottom: 0px;
}

.buySellBtnGroup {
   min-width: 300px;
}

.buySellRestrictedWidthControl {
   max-width: 300px;
}

.buySellBuyAssetSel {
   min-width: 280px;
   max-width: 350px;
}

.buySellSellAssetSel {
   min-width: 335px;
   max-width: 405px;
}

.buySellSummaryTable {
  max-width: 800px;
}

.buySellOverrideTextPos1 {
  position:relative;
  bottom:5px;
}

.buySellOverrideTextPos2 {
  position:relative;
  bottom:10px;
}

.buySellPriceHistory {
  height: 250px;
  min-width: 500px;
}

.assetSelector section.col {
  height: 65px;
}

span.marketPrice {
  font-size:inherit;
  display:inline-block;
  padding-left:10px;
  padding-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: bold;
  color: #E0AE6D;
  background: #F5F5F5;

}

.pairTitle {
  font-size:inherit;
  font-weight:bold;
  margin-right:10px;
  display:inline-block;
}

.pairTitle span {
  font-size:24px;
}

.pairTitle img {
  width: 24px;
  height: 24px;
}

#changeMarket {

  position: absolute;
  left: 0px;
  top: 0px;
}

#assetPairMarketInfo td {
  cursor: pointer;
}

table.buySellForm tbody tr td {
  vertical-align: middle;
}

table.buySellForm tr.bold td {
  font-weight: bolder;
  color: #f60!important;
}

div.sellForm {
  border: 1px solid #ebbdac;
  background: #ffeddf;
}

div.buyForm {
  border: 1px solid #9EC7CF;
  background: #E9FAF3;
}

table.buySellForm .number {
  text-align: right;
}

div.buyForm.disabled, div.sellForm.disabled {
  background-color: #CCC !important;
}

table.confirmOrderBox td {
  padding: 5px !important;
}


div.topPairsGrid a {
  display:block;
  float:left;
  margin: 0;
  padding:4px;
  border: 1px solid #CCC;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color:#000;
  width:25%;
  overflow: hidden;
  text-align: center;
}

td.BUY {
  color:#108710;
  text-align: center !important;
}

td.SELL {
  color:#F00;
  text-align: center !important;
}

td.UP {
  color:#108710;
}

td.DOWN {
  color:#F00;
}

td.number {
  text-align: right;
}

tr.centerHeader th {
  text-align: center !important;
}

.progression-up {
  background-color: #E5F7DD;
}

.progression-down {
  background-color: #FAEAEE;
}

.with-open-order {
  font-weight: bold;
}

a.top_user_pair.selected_pair {
  background-color: #57889c !important;
  color:#FFF !important;
  font-weight: bold  !important;
}

div.buySellBtnGroup .radioBtn  {
  border-color:  #CCC;
}

#wid-id-select-other-pair input[type=text] {
  text-transform: uppercase !important;
}