/* 
 * Logon page specific
 */
#logon {
  padding-top: 120px;
  position: relative;
  z-index: 11; /* higher than the white cover div zindex of 10 */
}

.sales-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sales-subtitle {
  text-align: center;
  margin-bottom: 14px
  margin-top: -10px;
  color: #666;
}

#form-well {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 0px;
}

#password {
    width: 480px;
}

#generated {
    width: 570px;
    cursor: text;
}

#form-well .btn-success {
  width: 250px;
}

#open-sesame {
  width: 120px;
}

#extra-info {
  background-color:#EEE;
  border:1px solid #CCC;
  margin-top: 80px;  
}
