#rps div.rps-play {
  text-align: center;
}

#rps div.rps-play h2 {
  margin-top: 0;
  padding-top: 0;
  font-weight: bold;
}

#rps ul.rps-images {
  padding: 0;
}

#rps li.rps-image {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

#rps li.rps-image img {
  border: 2px solid #FFF;
}

#rps li.rps-image.selectedMove {
  font-weight: bold;
}

#rps li.rps-image.selectedMove img {
  border-color: #000;
}

#rps li.rps-image.win img {
  border-color: #dbf5d0;
}

#rps li.rps-image.lose img {
  border-color: #f5d0d0;
}

#rps div.wager-groups label,
#rps div.possibleMoves label {
  border: 1px solid #000;
}

#rps div.possibleMoves label {
  background-color: #FFF;
}

#rps div.wager-groups {
  margin: auto;
  width: 510px;
  margin-bottom: 15px;
}

#rps div.wager-groups h2 {
  text-align:center;
  font-weight: bold;
}

#rps div.wager-groups label.active,
#rps div.possibleMoves label.active {
  background-color: #739e73;
  border-color: #659265;
}

#rps div.wager-groups .amount {
  font-size: 16px;
}

#rps div.wager-groups .openedCount {
  font-size: 11px;
  display: block;
}

#rps div.wager-groups .radioBtn {
  width: 100px;
  margin: 0 !important; 
  background-repeat: no-repeat;
  background-position: 9px;
  background-size: 24px 24px;
  padding-left: 38px;

}

#rps div.rpsfield {
  width:350px;
  margin:0 auto;
}

#rps div.rpsfield input {
  width:75%;
  display: inline-block;
  text-align: right;
}

#rps div.rpsfield label {
  line-height: 34px;
}

#rps span.invalid {
  color:#FF0000;
}

#rps div.show-advanced {
  text-align: center;
  margin-top:15px
}

#rps div.rps5button {
  position:absolute;
  top:0;
  left:0;
  text-align: center;
  font-size: 11px;
}

#rps div.rpsButton {
  width:100px;
  height: 77px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #FFF;
  cursor: pointer;
}

#rps div.rpsButton.rps5 {
  border: 2px solid #15F215;
}