div.vennd-machine {

}

div.vennd-machine img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border:1px solid #000;
}

div.vennd-machine h4 {
  font-weight: bold;
}

div.vennd-machine ul.specs {
  padding-left: 20px !important;
}

div.vennd-machine ul.specs li {
	margin: 0;
	padding: 0;
}

div.vennd-machine ul.specs li.price,
div.vennd-machine ul.specs li.fees {
	font-size: 16px;
}

div.pendingMachine {
	background-color: #CCC !important;
}

div.machineFilter label.radioBtn {
	border-color:#CCC;
}

div.machineFilter {
	margin-bottom: 30px;
}