<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-user fa-fw "></i> 
        My Account Balances 
    </h1>
  </div>
  <div class="pull-right sectionHeaderButtonBar">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Create New Address&nbsp;<i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a id="createAddress" href="#">Create Regular Address</a>
            </li>
            <li>
                <a id="createArmoryOfflineAddress" href="#">Create Armory Offline Address</a>
            </li>
            <li>
                <a id="createWatchOnlyAddress" href="#">Create Watch Only Address</a>
            </li>
        </ul>
    </div>

    <button id="sweepFunds" type="button" class="btn btn-primary">Import Funds</button>
    <div class="btn-group" id="newWalletSweep">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Import Funds&nbsp;<i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" style="right:0;left:auto">
            <li>
                <a id="sweepFunds2" href="#">From Another Address</a>
            </li>
            <li>
                <a id="sweepOldWallet" href="#">From Old Wallet</a>
            </li>
        </ul>
    </div>
    
    <!-- <button id="balanceHelp" type="button" class="btn btn-success"><i class="fa fa-question-circle"></i>&nbsp;Page Help</button> -->
  </div>
</div>

<div id="oldWalletDetectedNotice" data-bind="fadeVisibleInOnly: WALLET.isOldWallet()" class="alert alert-warning alert-block">
    <i class="fa-fw fa fa-level-up"></i>
    <strong>Old Wallet detected:</strong> We see you are using an old wallet. Please transfer your funds to a newly
    created wallet as soon as possible. Support for 'old' wallets will be discontinued <b>July 15, 2014</b>.
    <a href="https://forums.counterparty.co/index.php?topic=321.0" target="_blank">More info</a>.
</div>

{{ if (xcp_store_url) { }}
<div class="alert alert-info">
    <i class="fa-fw fa fa-exchange"></i>
    <b>Want to buy {{= xcp}}?</b> Beyond using the decentralized exchange in {{= name}}, other options for purchasing {{= xcp}} are
    <a href="{{= xcp_store_url}}" target="_blank">listed here</a>.
</div>
{{ } }}

<div id="gettingStartedNotice" data-bind="fadeVisibleInOnly: WALLET.isNew() && !WALLET.isOldWallet() && window._BALANCES_HAS_LOADED_ALREADY === undefined" class="alert alert-success alert-block">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading padding-bottom-10">Welcome to {{= name}}!</h4>
    We've created an address for you to get started. You can send and receive both {{= btc_name}} and {{= xcp_name}} tokens with it.
    To start using the wallet, simply send some {{= btc}} or {{= xcp}} to the address (just single click on the address string
    itself to select it, then copy that text, which you can then give to others or use to
    send funds to).
    {{ if (testnet.faucet_url) { }}
    <span data-bind="visible: USE_TESTNET">Note that, on testnet, you can use a
    <b><a href="{{= testnet.faucet_url}}" target="_blank">Testnet faucet</a> to get {{= btc}} to start with</b>.</span>
    {{ } }}
    <br/><br/>
    
    One important thing to know before getting started is that when you perform an action in {{= name}} (i.e. place
    an order, create a token, etc), <b>it doesn't take effect immediately as it must first be confirmed on the {{= btc_name}} blockchain</b>.
    {{= name}} lets you know this by displaying your actions under the <b>Pending Actions</b> panel (the Clock icon on the top bar), and then moving
    them to the <b>Notifications</b> panel (the Checkbox icon) automatically once the network has successfully confirmed them.
    You'll also see the future expected value in parenthesis next to the current balance to better alert you that the change is pending.
    Note that depending on the speed at which blocks are solved, it could take anywhere from 2 to 40 minutes for your actions to be confirmed.<br/><br/>
</div>

<div id="pendingBTCPayNotice" data-bind="fadeVisibleInOnly: needWarningOnExit()" class="alert alert-danger alert-block">
    <i class="fa-fw fa fa-btc"></i>
    <strong>Sell {{= btc}} Pending:</strong> As you have one or more pending or open sell order for {{= btc}}, please stay logged in so that the order(s) can be properly filled.
</div>

<section id="widget-grid" class="balancesContainer" data-bind="foreach: addresses"> <!-- widget grid -->
    <div class="row"> <!-- one row per widget in this case -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- widget START -->
        <div class="jarviswidget" data-bind="attr: {'id': 'address-wid-' + ADDRESS}" data-widget-deletebutton="false" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa" data-bind="css: { 'fa-arrow-circle-o-right': !IS_WATCH_ONLY, 'fa-eye': IS_WATCH_ONLY }"></i> </span>
            <h3 class="jarviswidget-ctrls">
                <span class="addressLabelText" href="#" data-bind="text: label, click: changeLabel"></span>
                <div data-bind="visible: assetFilter()" class="label label-warning margin-left-5"><i class="fa fa-filter"></i>&nbsp;Filtered</div>
                <div data-bind="visible: lastSort()" class="label label-info margin-left-5"><i class="fa fa-sort-amount-asc"></i>&nbsp;Sorted</div>
                <div data-bind="visible: IS_WATCH_ONLY" class="label label-success margin-left-5"><i class="fa fa-eye"></i>&nbsp;Watch Only</div>
                <div data-bind="visible: IS_ARMORY_OFFLINE" class="label label-success margin-left-5"><i class="fa fa-lock"></i>&nbsp;Armory Offline</div>
            </h3>
            <div class="widget-toolbar">
              <div class="btn-group btn-group-dropup">
                <button class="btn dropdown-toggle btn-xs btn-primary" data-toggle="dropdown"><i class="fa fa-bars"></i> Address Actions <i class="fa fa-caret-down"></i></button>                
                <ul class="dropdown-menu pull-right">
                  <li><a data-bind="click: showQRCode" href="#">Show QR Code</a></li>
                  <li data-bind="visible: IS_NORMAL"><a data-bind="click: showPrivateKey" href="#">Show Private Key</a></li>
                  <li data-bind="visible: IS_NORMAL"><a data-bind="click: signMessage" href="#">Sign Message</a></li>  
                  <li data-bind="visible: IS_NORMAL"><a data-bind="click: signTransaction" href="#">Sign Transaction</a></li>               
                  <li data-bind="visible: IS_ARMORY_OFFLINE"><a data-bind="click: armoryBroadcastTransaction" href="#">Broadcast Transaction</a></li>               
                  <li data-bind="visible: !IS_NORMAL"><a data-bind="click: remove" href="#">Remove Address</a></li>
                  
                  <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By</a>
                        <ul class="dropdown-menu">
                          <li><a data-bind="click: sortAssetsByName" href="#">Name</a></li>
                          <li><a data-bind="click: sortAssetsByBalance" href="#">Balance</a></li>
                        </ul>
                  </li>                  
                  <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By</a>
                        <ul class="dropdown-menu">
                          <li><a data-bind="click: showAllAssets" href="#">Show All</a></li>
                          <li><a data-bind="click: showBaseAssetsOnly" href="#">Show {{= xcp}} &amp; {{= btc}} Only</a></li>
                          <li><a data-bind="click: showMyAssetsOnly" href="#">Show My Tokens Only</a></li>
                          <li><a data-bind="click: showOthersAssetsOnly" href="#">Show Other Tokens Only</a></li>
                        </ul>
                  </li>                  

                  <li class="divider"></li><li class="dropdown-header">Issuance...</li>                 
                  <li data-bind="visible: !IS_WATCH_ONLY"><a data-bind="click: createAsset" href="#">Create a Token (Asset)</a></li>                
                  <li data-bind="visible: !IS_WATCH_ONLY && FEATURE_DIVIDEND"><a data-bind="click: payDividend" href="#">Pay Distribution</a></li>

                  <li class="divider"></li><li class="dropdown-header">Betting...</li>  
                  <li data-bind="visible: !IS_WATCH_ONLY"><a data-bind="click: broadcast" href="#">Feed Broadcast</a></li>
                </ul>
              </div>
            </div>
            <div class="widget-toolbar"><span id="" data-bind="attr: {'id': 'address-text-' + ADDRESS}, click: selectAddressText, text: ADDRESS"></span></div>
            <div class="clearfix"></div>  
          </header>
          <div> <!-- widget div-->
            <div class="widget-body" data-bind="attr: {'id': 'address-balances-' + ADDRESS}, foreach: filteredAssets"> <!-- widget content -->
              <div class="asset-item" data-bind="css: { btc: ASSET === '{{= btc}}', xcp: ASSET === '{{= xcp}}', myasset: isMine(), othersasset: !isMine() && (ASSET !== '{{= btc}}' && ASSET !== '{{= xcp}}') }">
                <div class="btn-group btn-group-dropup"> <!-- asset level action button -->
                  <button type="button" class="btn btn-default dropdown-toggle assetBtn"><span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a data-bind="visible: !$parent.IS_WATCH_ONLY, click: send" href="#">Send</a></li>
                    <li><a data-bind="visible: ASSET !== '{{= btc}}' && ASSET !== '{{= xcp}}', click: showInfo" href="#">Show Info</a></li>
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && BURNABLE && ASSET === '{{= btc}}'"><a data-bind="click: testnetBurn" href="#">Burn for {{= xcp}}</a></li>
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && isMine() && !locked()"><a data-bind="click: issueAdditional" href="#">Issue Additional</a></li>
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && isMine()"><a data-bind="click: transfer" href="#">Transfer Ownership</a></li>
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && isMine() && !locked()"><a data-bind="click: lock" href="#">Lock Token Issuance</a></li>
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && isMine()"><a data-bind="click: changeDescription" href="#">Change Token Description</a></li>    
                    <li data-bind="visible: !$parent.IS_WATCH_ONLY && isMine() && CALLABLE"><a data-bind="click: call" href="#">Call</a></li>
                  </ul>
                </div>
                <h3 class="name pull-left" data-bind="text: ASSET"></h3>
                <div class="clearfix"></div>
                <p class="balance" data-bind="style: { 'padding-right': dispBalancePadding }">
                    <span data-bind="visible: isMine()">Issued: <span data-bind="text: dispTotalIssued"></span>
                        <span data-bind="visible: issuanceQtyChangePending" title="Quantity issued change pending">
                            <i class="icon-append fa fa-spinner fa-spin"></i></span>
                    </span><br/>
                    Bal: <span data-bind="html: dispBalance"></span>
                    <span data-bind="visible: balanceChangePending"
                        title="Balance change pending"><i class="icon-append fa fa-spinner fa-spin"></i></span></p>
                <div class="balancesAssetIcons">
                    <span data-bind="visible: locked()" class="balancesAssetIcon"
                        title="Token is locked"><i class="icon-append fa fa-lock"></i></span>
                    <span data-bind="visible: CALLABLE" class="balancesAssetIcon"
                        title="Token is callable"><i class="icon-append fa fa-mail-reply-all"></i></span>
                </div>
              </div>
            </div> <!-- end widget content body -->
          </div> <!-- end widget div -->
        </div> <!-- end widget -->
      </article> <!-- WIDGET END -->
    </div> <!-- balances container, foreach: address -->
</section> <!-- end widget grid -->


<!-- modal for change address label -->
<div data-bind="showModal: shown" id="changeAddressLabelModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="changeAddressLabelModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Address Label</h4>
      </div>
      <div class="modal-body no-padding">
        <div class="formPadded">
            <p>Enter the new label (or, nickname) for your address <b class="notoAddressColor"><span data-bind="text: address()"></span></b>.</p>
        </div>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Label</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input id="newAddressLabel" name="newLabel" data-bind="value: newLabel, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-primary">Change Label</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for new address -->
<div data-bind="showModal: shown" id="createNewAddressModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="createNewAddressModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-bind="text: dispWindowTitle"></h4>
      </div>
      <div class="modal-body no-padding">
        <div data-bind="visible: addressType() == 'normal'">
            <p class="formPadded">Enter the description you'd like to use for this new address.<br/><br/>
            <b class="errorColor">Please NOTE that once you create a new address, you cannot delete it.</b></p>
        </div>
        <div data-bind="visible: addressType() == 'watch'">
            <p class="formPadded">Please enter the info for the address you would like to add into your wallet as a watch-only address.</p>
        </div>
        <div data-bind="visible: addressType() == 'armory'">
            <p class="formPadded">Please enter the info for the address you would like to add into your wallet as an Offline Armory address.</p>
        </div>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section data-bind="visible: addressType() != 'normal'"><div class="row">
            <label class="control-label col col-sm-2">Address</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input name="watchAddress" data-bind="value: watchAddress, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Description</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-info"></i>
                    <input name="description" data-bind="value: description, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-primary">Create New Address</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for send -->
<div data-bind="showModal: shown, validationOptions: { insertMessages: false }" id="sendModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="sendModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send Tokens</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Send <b data-bind="text: asset"></b> from your address <b data-bind="text: address"></b>
        to the address you enter below.<br/><br/>
        You have <b><span class="buyColor" data-bind="text: dispNormalizedBalance"></span> <span class="buyColor" data-bind="text: asset"></span></b>
        available to send from this address.
        </p>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Send To</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input name="destAddress" data-bind="value: destAddress, valueUpdate: 'input', attr: {placeholder: 'Enter {{= btc_name}} address'}" type="text"/>
                </label>
                <span class="invalid" data-bind="validationMessage: destAddress"></span>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Send Amount</label>
            <div class="col col-sm-10">
                <label id="sendAmountLabel" class="input inline-block">
                    <i class="icon-append fa fa-share"></i>
                    <input name="quantity" data-bind="value: quantity, valueUpdate: 'input', attr: {placeholder: 'Enter quantity'}" type="text"/>
                </label>
                <span>&nbsp;&nbsp;<button type="button" data-bind="click: maxAmount" class="btn btn-default btn-sm">MAX</button></span>
                <span class="invalid" data-bind="validationMessage: quantity"></span>
            </div>
          </div></section>
        </fieldset></form>
        <p class="formPaddedBot" data-bind="fadeVisibleInOnly: normalizedBalRemainingIsSet">
            After sending, you will have <b><span class="sellColor" data-bind="text: dispNormalizedBalRemaining"></span>
            <span class="sellColor" data-bind="text: asset"></span> remaining</b> at this address (minus fees).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-primary">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for sweep (import) -->
<div data-bind="showModal: shown, validationOptions: { insertMessages: false }" id="sweepModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="sweepModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide, visible: sweepingProgressionMessage()==''" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            <span data-bind="visible: !fromOldWallet">Import (Sweep) Tokens from Another Address</span>
            <span data-bind="visible: fromOldWallet">Import (Sweep) Tokens from Your Old Wallet</span>
        </h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">
            <span data-bind="visible: !fromOldWallet">Import token funds by "sweeping" them from an external address into an address in this wallet.</span>
            <span data-bind="visible: fromOldWallet">Transition to your new wallet by sweeping over the token funds from your old wallet.</span>
        </p>
        
        <form class="smart-form" data-bind="submit: doAction, visible: sweepingProgressionMessage()==''"><fieldset>
          
          <section data-bind="visible: !fromOldWallet"><div class="row">
            <label class="control-label col col-sm-12">Private Key To Import</label>
            <div class="col col-sm-12">
                <label class="input"><i class="icon-append fa fa-lock"></i>
                    <input name="privateKey" data-bind="value: privateKey, valueUpdate: 'input', attr: {placeholder: 'Enter {{= btc_name}} private key'}" type="text"/>
                </label>
                <span class="invalid" data-bind="validationMessage: privateKey"></span>
                <div class="note">Enter the unencrypted private key to the address with the tokens you want to move over.</div>
            </div>
          </div></section>

          <section data-bind="visible: fromOldWallet"><div class="row">
            <label class="control-label col col-sm-12">Source Address from old wallet</label>
            <div class="col col-sm-12">
                <select class="width-max" data-bind="options: availableOldAddresses, optionsValue: 'WIF', optionsText: 'ADDRESS', select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: oldPrivateKey"></select>
                <span class="invalid" data-bind="validationMessage: privateKey"></span>
                <div class="note">Select the address in your old wallet that the specified tokens should be sent from.</div>
            </div>
          </div></section>

          <section><div class="row">
            <label class="control-label col col-sm-12">Destination Address</label>
            <div class="col col-sm-12">
                <select class="width-max" data-bind="options: availableAddresses, optionsValue: 'ADDRESS', optionsText: 'SELECT_LABEL', select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: destAddress"></select>
                <span class="invalid" data-bind="validationMessage: destAddress"></span>
                <div class="note">Select the address in your wallet that the specified tokens for the private key above should be sent to.</div>
            </div>
          </div></section>
          <section data-bind="fadeVisibleInOnly: availableAssetsToSweep().length >= 1"><div class="row">
            <label class="control-label col col-sm-12">Tokens to Sweep</label>
            <div class="col col-sm-12">
                <label class="input">
                    <select id="availableAssetsToSweep" multiple="true" class="width-max" data-bind="options: availableAssetsToSweep, optionsValue: 'ASSET', optionsText: 'SELECT_LABEL', select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, selectedOptions: selectedAssetsToSweep"></select>
                </label>
                <span class="invalid" data-bind="validationMessage: selectedAssetsToSweep"></span>
                <div class="note">Select all of the tokens whose total balances you want to move into the destination address.</div>
            </div>
          </div></section>
          <section data-bind="visible: notEnoughBTC() || addressForFeesBalance()>0"><div class="row">
            <label class="control-label col col-sm-12">Private Key used to pay fees</label>
            <div class="col col-sm-12">
                <label class="input"><i class="icon-append fa fa-lock"></i>
                    <input name="privateKeyForFees" data-bind="value: privateKeyForFees, valueUpdate: 'input', attr: {placeholder: 'Enter {{= btc_name}} private key'}" type="text"/>
                </label>
                <span class="invalid" data-bind="validationMessage: privateKeyForFees"></span>
                <span class="note" data-bind="text: addressForFeesBalanceMessage, visible:addressForFeesBalanceMessage()!=''"></span>
                <div class="note">Enter the unencrypted private key that cooresponds to the address used to pay fees.</div>
            </div>
          </div></section>
        </fieldset></form>
        <fieldset data-bind="visible: sweepingProgressionMessage()!=''">
          <section><div class="row" style="margin:15px">
            <p class="message .txt-color-orangeDark" data-bind="text: sweepingProgressionMessage" style="font-weight:bold;"></p>
            <div class="progress progress-striped active" style="margin-top:15px;margin-bottom:0;">
              <div id="sweepingProgressBar" class="progress-bar"  role="progressbar" data-bind="style: { width: sweepingProgressWidth() }">
              </div>
            </div>
          </div></section>  
        <fieldset>
      </div>
      <div class="modal-footer" data-bind="visible: sweepingProgressionMessage()==''">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-danger">Sweep</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for sign message -->
<div data-bind="showModal: shown" id="signMessageModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="signMessageModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign a Message</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Sign a message from address <b data-bind="text: address"></b>.</p>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Message to Sign</label>
            <div class="col col-sm-10">
                <label class="textarea">
                    <textarea rows="3" class="custom-scroll" data-bind="value: message, valueUpdate : 'input'"></textarea>
                </label>
                <div class="note">Enter the message text to be signed.</div>
            </div>
          </div></section>
          
          <section><div class="row">
            <label class="control-label col col-sm-2">Message Format</label>
            <div class="col col-sm-10">
              <label class="radio">
                <input type="radio" data-bind="checked: signatureFormat" name="signMessageFormat" value="base64">
                <i></i>Base 64 Encoded (Bitcoin-QT Compatible)
              </label>
              <label class="radio">
                <input type="radio" data-bind="checked: signatureFormat" name="signMessageFormat" value="hex">
                <i></i>Hex Encoded
              </label>
            </div>
          </div></section>
          
          <section><div class="row">
            <label class="control-label col col-sm-2">Signed Message</label>
            <div class="col col-sm-10">
                <label class="textarea">
                    <textarea id="signedMessage" rows="3" class="custom-scroll" data-bind="fadeInText: signedMessage" readonly="readonly"></textarea>
                </label>
                <div class="note">The signed message appears above.</div>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Close</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-primary">Sign</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for testnet burning -->
<div data-bind="showModal: shown" id="testnetBurnModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="testnetBurnModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Burn {{= btc}} for {{= xcp}}</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">
         Create {{= xcp}} by "burning" your {{= btc}}. Please note that you can only burn up to <b>{{= max_burn_per_address}} {{= btc}} total</b> for any given address.<br/><br/>
         <span data-bind="visible: MAX_BURN_PER_ADDRESS - btcAlreadyBurned() > 0"><b>You may currently burn up to <span class="sellColor"><span data-bind="text: maxPossibleBurn()"></span> {{= btc}}</span> from this address.</b></span>
         <span data-bind="visible: MAX_BURN_PER_ADDRESS - btcAlreadyBurned() <= 0"><b class="errorColor">You have already burned the maximum allowed {{= btc}} from this address.</b></span>
       </p>
       <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">{{= btc}} to Burn</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-fire"></i>
                    <input name="additionalIssue" data-bind="value: btcBurnQuantity, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
        <p class="formPaddedBot bold" data-bind="fadeVisibleInOnly: validationModel.isValid()">
            After burning, you will have approximately
            <b class="buyColor"><span data-bind="text: dispQuantityXCPToBeCreated"></span> {{= xcp}}</b> created at this address.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-success">Burn</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for display private key -->
<div data-bind="showModal: shown" id="displayPrivateKeyModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="displayPrivateKeyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Private Key (WIF) for <b data-bind="text: ADDRESS"></b></h4>
      </div>
      <div class="modal-body no-padding">
        <div class="formPadded">
            <div class="alert alert-warning"><i class="fa-fw fa fa-info"></i>Please make sure nobody can look over your shoulder or see your screen.</div>
        
            <center>
                <a href="#" class="font-lg" data-bind="visible: !privateKeyText(), click: displayPrivateKey">Show Private Key</a>
                <span class="font-medlg" data-bind="visible: privateKeyText, text: privateKeyText"></span>
            </center>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for create asset -->
<div data-bind="showModal: shown" id="createAssetModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="createAssetModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create (Issue) a Token</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Please note that a <b class="notoQuantityColor"><span data-bind="text: ASSET_CREATION_FEE_XCP"></span></b>
        <b class="notoAssetColor">{{= xcp}}</b> fee will be deducted from your balance upon successful creation.</p>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">For Address</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-user"></i>
                    <input name="assetAddress" data-bind="value: address" type="text" disabled="disabled"/>
                </label>
                <div class="note">The address the token will be created on.</div>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Token Name</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input name="assetName" data-bind="value: name, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">The token's trading symbol.</div>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Description</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-info"></i>
                    <input name="assetDescription" data-bind="value: description, valueUpdate: 'input'"/>
                </label>
                <div class="note">Optional text that provides more information about the token.</div>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Quantity</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="assetQuantity"  data-bind="value: quantity, valueUpdate: 'input'" type="text"/>                        
                </label>
                <div class="note">How many of the units of the token to issue (can be increased later).</div>
            </div>
          </div></section>
          <section><div class="row">
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10">
              <label class="checkbox">
                <input name="assetDivisible" type="checkbox" data-bind="checked: divisible">
                <i></i>Make divisible?
              </label>
              <div class="note">Divisble tokens can be subdivided into decimal places. If you are unsure, keep this option checked.</div>
          </div></section>
          <section><div class="row">
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10">
              <label class="checkbox">
                <input name="assetCallable" type="checkbox" data-bind="checked: callable">
                <i></i>Make callable?
              </label>
              <div class="note">Callable token may be called back at a specific date for a specific strike price.</div>
          </div></section>
          <section data-bind="fadeVisibleInOnly: callable"><div class="row">                
            <label class="control-label col col-sm-2">Call Date</label>
            <div class="col col-sm-10">
                <label class="input">
                    <input name="assetCallDate" type="text" data-bind="datetimepicker: callDate"/>
                </label>
                <div class="note">The date and time after which the owner of the token may choose to call it back.</div>
            </div>
          </div></section>
          <section data-bind="fadeVisibleInOnly: callable"><div class="row">                
            <label class="control-label col col-sm-2">Call Price</label>
            <div class="col col-sm-10">
                <label class="input">
                    <input name="assetCallPrice" type="text" data-bind="value: callPrice, valueUpdate: 'input'"/>
                </label>
                <div class="note">The <b>{{= xcp}} price per unit</b> that the owner of the token may call it back for.</div>
            </div>
          </div></section>
        </fieldset></form>                    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-primary">Create Token</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for asset issue additional -->
<div data-bind="showModal: shown" id="issueAdditionalAssetModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="issueAdditionalAssetModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Issue Additional Token Quantity</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">How much more of this token would you like to issue? <i>(For divisible tokens, state
       the quantity as a whole or floating point number, not in satoshis -- e.g. '732.45')</i><br/><br/>
       There are currently <b class="buyColor" data-bind="text: dispTotalIssued"></b> units of this token issued.<br/><br/>
       <b class="errorRed">Please NOTE that this action is irreversable!</b></p>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Additional Qty</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="additionalIssue" data-bind="value: additionalIssue, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Issue Additional</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal for asset transfer -->
<div data-bind="showModal: shown" id="transferAssetModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="transferAssetModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Transfer Token</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Enter the <b>{{= btc_name}} address</b> you would like to perminently transfer ownership of this token to.
            (Be aware that this will not transfer the actual units of this token that you own to this address -- you can do that with a separate Send transaction.)
            <br/><br/><b class="errorRed">Please NOTE that this action is irreversable!</b></p>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Transfer To</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-user"></i>
                    <input name="destAddress" data-bind="value: destAddress, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-danger">Transfer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for asset change description -->
<div data-bind="showModal: shown" id="changeAssetDescriptionModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="changeAssetDescriptionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Token Description</h4>
      </div>
      <div class="modal-body no-padding">
        <div class="formPadded">
            <p>The token's current description is: <b><span data-bind="text: dispAssetDescription"></span></b></p>
            <p>Enter the new description for this token<span data-bind="html: dispCharactersRemaining"></span>:</p>
        </div>
        
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Description</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-info"></i>
                    <input name="newDescription" data-bind="value: newDescription, valueUpdate: 'input'" type="text"/>
                </label>
            </div>
          </div></section>
        </fieldset></form>
        <div class="formPaddedBot">Want to give your token an image, enahnced description text, or more? See
            <a href="https://wiki.counterparty.co/w/Enhanced_Token_Info_in_Counterwallet" target="_blank">this link</a>.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Change Description</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for pay dividend -->
<div data-bind="showModal: shown" id="payDividendModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="payDividendModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Pay Distribution/Dividend</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Use this form to pay holders of any token a distribution using {{= xcp}} or any other token.
        <i>Note that the full required balance of the token paid out must be present at this same address.</i><br/><br/>
       <b class="errorRed">Please NOTE that this action is irreversable!</b></p>
        <form class="smart-form" data-bind="submit: doAction"><fieldset>

          <section><div class="row">
            <label class="control-label col col-sm-2">Token Name</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input name="assetName" data-bind="value: assetName, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">The token's trading symbol.</div>
            </div>
          </div></section>

          <section><div class="row">
            <label class="control-label col col-sm-2">Distribution Token</label>
            <div class="col col-sm-10">
                <label class="input">
                    <select id="selectedDividendAsset" class="width-max" data-bind="options: availableDividendAssets, optionsValue: 'ASSET', optionsText: 'SELECT_LABEL', select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: selectedDividendAsset"></select>
                </label>                    
                <div class="note">Select the token with which the distribution should be paid.</div>
            </div>
          </div></section>
          <section><div class="row">
            <label class="control-label col col-sm-2">Distribution per Unit</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="quantityPerUnit" data-bind="value: quantityPerUnit, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">Enter the quantity of the Distribution Token that should be distributed per share of <span data-bind="text: assetName"></span>.</div>
            </div>
          </div></section>
        </fieldset></form>
        <div class="formPaddedBot" data-bind="fadeVisibleInOnly: quantityPerUnit() && selectedDividendAsset() && totalPay()">
            <p>This distribution payment would cost you a total of 
            <b class="sellColor"><span data-bind="text: dispTotalPay"></span> <span data-bind="text: selectedDividendAsset"></span></b>.</p>
            <p>After distribution payment this address would have a remaining balance of
            <b data-bind="css: {errorColor: dividendAssetBalRemainingPostPay() < 0, sellColor: dividendAssetBalRemainingPostPay() >= 0}">
                <span data-bind="text: dispDividendAssetBalRemainingPostPay"></span> <span data-bind="text: selectedDividendAsset"></span></b>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Pay Distribution</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for call asset -->
<div data-bind="showModal: shown" id="callAssetModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="callAssetModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Call Token <b><span data-bind="text: asset"></span></b></h4>
      </div>
      <div class="modal-body no-padding" data-bind="visible: assetObj">
        <p class="formPadded">Use this form to exercise a call option for the selected token
            (<b><span data-bind="text: asset"></span></b>), any time after its call date of <b><span data-bind="text: dispCallDate"></span></b>.<br/><br/>
       <b class="errorRed">Please NOTE that this action is irreversable!</b></p>
        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">% to Call</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="percentageToCall" data-bind="value: percentageToCall, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">Enter the percentage of the token to call back (e.g. 40.5 for 40.5%).</div>
            </div>
          </div></section>
        </fieldset></form>
        <div class="formPaddedBot" data-bind="fadeVisibleInOnly: xcpBalRemainingPostCallIsSet">
            <p>At the given call price of <b><span data-bind="text: dispCallPrice"></span> {{= xcp}}</b> per unit
                of <b><span data-bind="text: asset"></span></b> (which has <b><span data-bind="text: dispTotalIssued"></span></b> units issued
                and <b class="sellColor"><span data-bind="text: dispTotalOutstanding"></span></b> units outstanding),
                your total cost for a <b><span data-bind="text: percentageToCall"></span>% callback</b> would be
                <b class="sellColor"><span data-bind="text: totalXCPPay"></span> {{= xcp}}</b>.</p>
            <p>After this callback, this address would have a remaining balance of
            <b data-bind="css: {errorColor: xcpBalRemainingPostCall() < 0, sellColor: xcpBalRemainingPostCall() >= 0}">
                <span data-bind="text: dispXCPBalRemainingPostCall"></span> {{= xcp}}</b>, and gain
            <b class="buyColor"><span data-bind="text: dispUnitsToCallback"></span>
                <span data-bind="text: asset"></span></b>, for a final balance of
             <b><span data-bind="text: dispUnitsAfterCallback"></span>
                <span data-bind="text: asset"></span></b>.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Call</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for show asset info -->
<div data-bind="showModal: shown" id="showAssetInfoModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="showAssetInfoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Info for <b><span data-bind="text: asset"></span></b> (Read Only)</h4>
      </div>
      <div class="modal-body no-padding">
        <form class="smart-form"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Owned By</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-user"></i>
                    <input name="assetOwner" data-bind="value: owner" type="text" disabled="disabled"/>
                </label>
            </div>
          </div></section>
          <section data-bind="visible: !extDescription()"><div class="row">
            <label class="control-label col col-sm-2">Description</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-info"></i>
                    <input name="assetDescription" data-bind="value: description" disabled="disabled"/>
                </label>
            </div>
          </div></section>
          <section data-bind="visible: extDescription"><div class="row">
            <label class="control-label col col-sm-2">Description</label>
            <div class="col col-sm-10">
                <label class="textarea textarea-resizable">
                    <textarea name="extDescription" rows="3" class="custom-scroll" data-bind="value: extDescription" disabled="disabled"></textarea>
                </label>
            </div>
          </div></section>

          <section><div class="row">
            <label class="control-label col col-sm-2">Total Issued</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="assetQuantity"  data-bind="value: dispTotalIssued" type="text" disabled="disabled"/>                        
                </label>
            </div>
          </div></section>

          <section data-bind="visible: extImageURL"><div class="row">
            <label class="control-label col col-sm-2">Logo</label>
            <div class="col col-sm-10">
                <img data-bind="attr: {'src': extImageURL}" /> <!-- should be 48x48 -->
            </div>
          </div></section>
          <section data-bind="visible: extWebsite"><div class="row">
            <label class="control-label col col-sm-2">Website URL</label>
            <div class="col col-sm-10">
                <a data-bind="attr: {'href': extWebsite}, text: extWebsite" target="_blank"></a>
            </div>
          </div></section>
          <section data-bind="visible: extPGPSigURL"><div class="row">
            <label class="control-label col col-sm-2">PGP Signature</label>
            <div class="col col-sm-10">
                <a data-bind="attr: {'href': extPGPSigURL}, text: extPGPSigURL" target="_blank"></a>
            </div>
          </div></section>

          <section><div class="row">
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10">
              <label class="checkbox">
                <input name="assetDivisible" type="checkbox" data-bind="checked: locked" disabled="disabled">
                <i></i>Is locked?
              </label>
              <div class="note">Locked tokens may not have additional unit issued.</div>
          </div></section>
          <section><div class="row">
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10">
              <label class="checkbox">
                <input name="assetDivisible" type="checkbox" data-bind="checked: divisible" disabled="disabled">
                <i></i>Divisible token?
              </label>
              <div class="note">Divisble assets can be subdivided into decimal places.</div>
          </div></section>
          <section><div class="row">
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10">
              <label class="checkbox">
                <input name="assetCallable" type="checkbox" data-bind="checked: callable" disabled="disabled">
                <i></i>Callable token?
              </label>
              <div class="note">Callable tokens may be called back at a specific date for a specific strike price.</div>
          </div></section>
          <section data-bind="visible: callable"><div class="row">                
            <label class="control-label col col-sm-2">Call Date</label>
            <div class="col col-sm-10">
                <label class="input">
                    <input name="assetCallDate" type="text" data-bind="value: callDate" disabled="disabled"/>
                </label>
                <div class="note">The date and time after which the owner of the token may choose to call it back.</div>
            </div>
          </div></section>
          <section data-bind="fadeVisibleInOnly: callable"><div class="row">                
            <label class="control-label col col-sm-2">Call Price</label>
            <div class="col col-sm-10">
                <label class="input">
                    <input name="assetCallPrice" type="text" data-bind="value: callPrice" disabled="disabled"/>
                </label>
                <div class="note">The <b>{{= xcp}} price per unit</b> that the owner of the token may call it back for.</div>
            </div>
          </div></section>
        </fieldset></form>
        <table class="table table-striped table-bordered table-hover" data-bind="fadeVisibleInOnly: showHistory">
            <thead>
                <tr>
                    <th>Block Time</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: history">
                <tr>
                    <td data-bind="text: dispBlockTime()"></td> <!-- datetime formatted string -->
                    <td data-bind="html: dispDescription()"></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- modal for broadcast -->
<div data-bind="showModal: shown" id="broadcastModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="broadcastModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Broadcast</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Use this form to broadcast data.</i><br/><br/>
       <b class="errorRed">Please NOTE that this action is irreversable!</b></p>
        <form class="smart-form" data-bind="submit: doAction"><fieldset>

          <section><div class="row">
            <label class="control-label col col-sm-2">Text</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-tag"></i>
                    <input name="textValue" data-bind="value: textValue, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">The textual part of the broadcast (set to ‘LOCK’ to lock feed).</div>
            </div>
          </div></section>

           <section><div class="row">                
            <label class="control-label col col-sm-2">Value</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="numericalValue" data-bind="value: numericalValue, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">The numerical value of the broadcast.</div>
            </div>
          </div></section>

          <section><div class="row">
            <label class="control-label col col-sm-2">Fee fraction</label>
            <div class="col col-sm-10">
                <label class="input"><i class="icon-append fa fa-plus"></i>
                    <input name="feeFraction" data-bind="value: feeFraction, valueUpdate : 'input'" type="text"/>
                </label>
                <div class="note">the fraction of bets on this feed that go to its operator.</div>
            </div>
          </div></section>

          <section><div class="row">                
            <label class="control-label col col-sm-2">Broadcast Date</label>
            <div class="col col-sm-10">
                <label class="input">
                    <input name="broadcastTimestamp" type="text" data-bind="datetimepicker: broadcastDate"/>
                </label>
                <div class="note">The date and time of the broadcast.</div>
            </div>
          </div></section>

        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Cancel</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for sign transaction -->
<div data-bind="showModal: shown" id="signTransactionModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="signTransactionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign a Transaction</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Sign a transaction with address <b data-bind="text: address"></b>.</p>
        
        <form class="smart-form"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Unsigned hex transaction to Sign</label>
            <div class="col col-sm-10">
                <label class="textarea">
                    <textarea rows="3" class="custom-scroll" data-bind="value: unsignedTx, valueUpdate : 'input'"></textarea>
                </label>
                <div class="note">Enter the raw transaction to be signed.</div>
            </div>
          </div></section>
          
          <section><div class="row">
            <label class="control-label col col-sm-2">Signed Transaction</label>
            <div class="col col-sm-10">
                <label class="textarea">
                    <textarea id="signedTx" rows="6" class="custom-scroll" data-bind="fadeInText: signedTx" disabled="disabled"></textarea>
                </label>
                <div class="note">The signed transaction appears above.</div>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Close</button>
        <button type="button" data-bind="click: signTransaction" class="btn btn-primary">Sign</button>
        <button type="button" data-bind="click: signAndBroadcastTransaction" class="btn btn-primary">Sign And Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal for armory broadcast transaction -->
<div data-bind="showModal: shown" id="armoryBroadcastTransactionModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="armoryBroadcastTransactionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bind="click: hide" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Broadcast Armory Transaction</h4>
      </div>
      <div class="modal-body no-padding">
        <p class="formPadded">Broadcast transaction from address <b data-bind="text: address"></b>.</p>

        <form class="smart-form" data-bind="submit: doAction"><fieldset>
          <section><div class="row">
            <label class="control-label col col-sm-2">Signed transaction</label>
            <div class="col col-sm-10">
                <label class="textarea">
                    <textarea rows="20" class="custom-scroll armoryUTxTextarea" data-bind="value: signedTx, valueUpdate : 'input'"></textarea>
                </label>
                <div class="note">Enter the signed transaction from the Offline Armory system.</div>
            </div>
          </div></section>
        </fieldset></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: hide">Close</button>
        <button type="button" data-bind="click: submitForm" class="btn btn-warning">Broadcast</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
