<section id="widget-grid" class="ordersGrid assetSelector" data-bind="validationOptions: { insertMessages: false }"> <!-- widget grid -->
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4" data-bind="visible: dexHome()">
      <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-bar-chart-o fa-fw "></i> 
          Decentralized Exchange Markets 
      </h1>
    </div>
    <div class="pull-right sectionHeaderButtonBar" data-bind="visible: dexHome()">
        <!-- <button id="exchangeHelp" type="button" class="btn btn-success"><i class="fa fa-question-circle"></i>&nbsp;Page Help</button> -->
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: !dexHome()">
      <h1 style="text-align:center;position:relative;margin:0">
        <a id="changeMarket" class="btn btn-primary" style="vertical-align:text-bottom;">
          <span class="fa fa-arrow-left"><span>
          All Markets
        </a>
        <div class="pairTitle page-title txt-color-blueDark">
          <img data-bind="attr: {src: baseAssetImage()}, visible: baseAssetImage()!=''" />
          <span data-bind="text: dispAssetPair"></span>
        </div> 
        <span class="marketPrice" data-bind="visible: currentMarketPrice, html: currentMarketPrice + ' ' + marketProgression24hDisp"></span>
      </h1>
    </div>

  </div>

  <div class="row"> <!-- row -->


    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderInputSelection" data-widget-editbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false"  data-widget-grid="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
            <h3>Top pairs</h3>
            <div class="clearfix"></div>
          </header>
          <div> <!-- widget div-->
            <div class="widget-body min-height-0 no-padding" style="min-height:0 !important" data-bind="validationOptions: { insertMessages: false }"> <!-- widget content -->
                
              <div class="topPairsGrid" data-bind="foreach: topUserPairs">
                <a href="#" data-bind="click: $parent.selectMarket, attr: {class: pair_classes}">
                  <span data-bind="text:base_asset"></span>/<span data-bind="text:quote_asset"></span>
                </a>
              </div>
                
            </div>
         </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->
    
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-select-other-pair" data-widget-editbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false"  data-widget-grid="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
            <h3>Select Another pair</h3>
            <div class="clearfix"></div>
          </header>
          <div> <!-- widget div-->
            <div class="widget-body min-height-0 no-padding" style="min-height:0 !important" data-bind="validationOptions: { insertMessages: false }"> <!-- widget content -->
                <div class="row" style="height:90px">
                    <section class="col col-lg-4 col-sm-4">
                      <div style="padding:10px">
                        <label for="asset1" class="control-label font-medlg">Token 1</label>
                        <label class="input" style="margin-bottom:0">
                            <input type="text" id="asset1" name="asset1" class="form-control input" type="text" placeholder="Asset name" data-bind="value: asset1" />
                        </label>
                        <span class="errorColor" data-bind="validationMessage: asset1"></span>
                      </div>
                    </section>
                    <section class="col-md-4">
                      <div style="padding:10px">
                        <label for="asset2" class="control-label font-medlg">Token 2</label>
                        <div class="btn-group buySellBtnGroup" data-toggle="buttons" style="margin-bottom:0">
                          <label class="radioBtn btn" data-bind="css: { 'btn-success': selectedQuoteAsset() == '{{= xcp}}', 'active': selectedQuoteAsset() == '{{= xcp}}'}">
                            <input type="radio" value="{{= xcp}}" data-bind="btnGroupChecked: selectedQuoteAsset">{{= xcp}}</label>
                            <!-- , attr: {disabled: selectedSellAsset() == '{{= xcp}}' ? 'disabled' : null }" -->
                          <label class="radioBtn btn" data-bind="css: { 'btn-success': selectedQuoteAsset() == '{{= btc}}', 'active': selectedQuoteAsset() == '{{= btc}}'}">
                            <input type="radio" value="{{= btc}}" data-bind="btnGroupChecked: selectedQuoteAsset">{{= btc}}</label>
                          <label class="radioBtn btn" data-bind="css: { 'btn-success': selectedQuoteAsset() == 'Other', 'active': selectedQuoteAsset() == 'Other'}">
                            <input type="radio" value="Other" data-bind="btnGroupChecked: selectedQuoteAsset">Other</label>
                        </div>
                        <span class="errorColor" data-bind="validationMessage: asset2"></span>
                      </div>
                    </section>
                    <section class="col col-lg-4 col-sm-4" data-bind="visible: selectedQuoteAsset() == 'Other'">
                      <div style="padding:10px">
                        <label for="asset2" class="control-label font-medlg">&nbsp;</label>
                        <label class="input">
                            <input type="text" id="asset2" name="asset2" class="form-control input" type="text" placeholder="Asset name" data-bind="value: asset2" />
                        </label>
                      </div>
                    </section>
                </div>
            </div>
         </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

  </div> <!-- end row -->


  <div data-bind="fadeVisibleInOnly: dexHome() && allPairs().length > 0" class="row"> <!-- row -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-assetPairMarketInfo" data-widget-editbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false"  data-widget-grid="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-chain"></i> </span>
            <h3>All Pairs</h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="widget-body-toolbar">
                </div>
                <table id="assetPairMarketInfo" class="table table-striped table-bordered table-hover datatable_basic">
                    <thead>
                        <tr class="centerHeader">
                            <th>#</th>
                            <th>Market</th>
                            <th>Price</th>
                            <th>24h Volume</th>
                            <th>Supply</th>
                            <th>Market Cap</th>
                            <th>24h Change</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: allPairs">
                        <tr data-bind="click: $parent.selectMarket">
                            <td class="number" data-bind="text: pos"></td>
                            <td style="with-space:nowrap">
                                <b><span data-bind="text: base_asset"></span></b> / <span data-bind="text: quote_asset"></span>
                            </td>
                            <td style="text-align:right" data-bind="attr: {class: price_class}">
                                <span data-bind="text: price"></span>
                                <span data-bind="text: quote_asset"></span>
                            </td>
                            <td class="number">
                                <span data-bind="text: volume || '0'"></span>
                                <span data-bind="text: quote_asset"></span>
                            </td> 
                            <td class="number" data-bind="text: supply + ' ' + base_asset"></td>
                            <td class="number" data-bind="text: market_cap + ' ' + quote_asset"></td>
                            <td style="text-align:center" data-bind="text: progression, attr: {class: prog_class}"></td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

  </div> <!-- end row -->
  
  
  <div class="alert alert-info font-medlg" data-bind="fadeVisibleInOnly: !dexHome() && currentMarketPrice() == 0">
      <i class="fa-fw fa fa-times"></i>&nbsp;No market price data exists for this pair yet (more trade data is required to construct price charts).
  </div>  

  <div class="row" data-bind="fadeVisibleInOnly: !dexHome() && currentMarketPrice() != 0">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-priceCharts" data-widget-editbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false"  data-widget-grid="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h3>Price History for <span data-bind="text: dispAssetPair"></span></h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="row">
                    <div class="col-md-12">
                        <div id="priceHistory" class="buySellPriceHistory"></div>
                    </div>
                </div>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->
  </div> <!-- end row -->


  <div class="row" data-bind="visible: userOpenOrders().length > 0">

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3>My Trades History</h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
              <div class="custom-scroll table-responsive" style="height:200px; overflow-y: scroll;">
                <table class="orderBook table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr class="centerHeader">
                            <th>Type</th>
                            <th>Block Time</th>
                            <th>Price [<span data-bind="text: quoteAsset"></span>]</th>
                            <th>Amount [<span data-bind="text: baseAsset"></span>]</th>
                            <th>Total [<span data-bind="text: quoteAsset"></span>]</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: userLastTrades"> <!-- descending order -->
                        <tr>
                            <td data-bind="text: type, attr: {class: type}"></td>
                            <td data-bind="text: block_time" style="white-space:nowrap"></td>
                            <td data-bind="text: price"></td>
                            <td data-bind="text: amount"></td> <!-- quantity (count) -->
                            <td data-bind="text: total"></td>
                            <td data-bind="text: status"></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3>My Open Orders</h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="custom-scroll table-responsive" style="height:200px; overflow-y: scroll;">
                  <table class="orderBook table table-striped table-bordered table-condensed table-hover">
                      <thead>
                          <tr class="centerHeader">
                              <th>Type</th>
                              <th>Price [<span data-bind="text: quoteAsset + '/' + baseAsset"></span>]</th>
                              <th>Amount [<span data-bind="text: baseAsset"></span>]</th>
                              <th>Total [<span data-bind="text: quoteAsset"></span>]</th>
                              <th>Completion</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody data-bind="foreach: userOpenOrders"> <!-- descending order -->
                          <tr>
                              <td data-bind="text: type, attr: {class: type}"></td>
                              <td data-bind="text: price"></td>
                              <td data-bind="text: amount"></td> <!-- quantity (count) -->
                              <td data-bind="text: total"></td>
                              <td data-bind="text: completion"></td>
                              <td>
                                <a href="#" class="btn btn-default btn-xs" data-bind="click: cancelOrder">Cancel</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

  </div> <!-- end row -->  

  
  <div class="row">

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3 data-bind="text: 'Buy ' + baseAsset"></h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding buyForm"> <!-- widget content -->

                <table class="table buySellForm">
                  <tbody>
                      <tr>
                        <td>Address</td>
                        <td colspan="2">
                          <select id="buyFromAddress" data-bind="options: availableAddressesForBuy, optionsValue: 'ADDRESS', optionsText: 'SELECT_LABEL', select2: {  minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: selectedAddressForBuy" style="width:250px"></select>
                        </td>
                      </tr>
                      <tr class="bold">
                        <td>Your balance</td>
                        <td data-bind="text: availableBalanceForBuy, click: setMaxBuyAmount" style="cursor:pointer" class="number"></td> 
                        <td data-bind="text: quoteAsset"></td>
                      </tr>
                      <tr>
                        <td>Lowest ask price</td>
                        <td data-bind="text:lowestAskPrice" style="width:270px" class="number"></td> 
                        <td data-bind="text: quoteAsset + '/' + baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Obtainable</td>
                        <td data-bind="text: obtainableForBuy" class="number"></td> 
                        <td data-bind="text: baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: buyPrice, hasFocus: buyPriceHasFocus, valueUpdate: 'input', enable: availableBalanceForBuy() > 0"/>
                        </td> 
                        <td data-bind="text: quoteAsset + '/' + baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: buyAmount, hasFocus: buyAmountHasFocus, valueUpdate: 'input', enable: availableBalanceForBuy() > 0"/>
                        </td> 
                        <td data-bind="text: baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: buyTotal, hasFocus: buyTotalHasFocus, valueUpdate: 'input', enable: availableBalanceForBuy() > 0"/>
                          <span class="invalid text-danger" data-bind="validationMessage: buyTotal"></span>
                        </td> 
                        <td data-bind="text: quoteAsset"></td>
                      </tr>
                      <tr>
                        <td>Fee</td>
                        <td class="number" data-bind="text: buyFee"></td> 
                        <td>{{= btc}}</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align:center">
                          <a id="buyButton" class="btn btn-default btn-lg" data-bind="click: buy">Buy (<span data-bind="text: quoteAsset + '→' + baseAsset"></span>)</a>
                        </td>
                      </tr>
                  </tbody>
                </table>

            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3 data-bind="text: 'Sell ' + baseAsset"></h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding sellForm"> <!-- widget content -->

                <table class="table buySellForm">
                  <tbody>
                      <tr>
                        <td>Address</td>
                        <td colspan="2">
                          <select id="sellFromAddress" data-bind="options: availableAddressesForSell, optionsValue: 'ADDRESS', optionsText: 'SELECT_LABEL', select2: {  minimumResultsForSearch: 10, escapeMarkup: 'direct' }, value: selectedAddressForSell, enable: availableBalanceForSell() > 0" style="width:250px"></select>
                        </td>
                      </tr>
                      <tr class="bold">
                        <td>Your balance</td>
                        <td data-bind="text: availableBalanceForSell, click: setMaxSellAmount" style="cursor:pointer" class="number"></td> 
                        <td data-bind="text: baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Highest bid price</td>
                        <td data-bind="text:highestBidPrice" style="width:270px" class="number"></td> 
                        <td data-bind="text: quoteAsset + '/' + baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Obtainable</td>
                        <td data-bind="text: obtainableForSell" class="number"></td> 
                        <td data-bind="text: quoteAsset"></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: sellPrice, hasFocus: sellPriceHasFocus, valueUpdate: 'input', enable: availableBalanceForSell() > 0"/>
                        </td> 
                        <td data-bind="text: quoteAsset + '/' + baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: sellAmount, hasFocus: sellAmountHasFocus, valueUpdate: 'input', enable: availableBalanceForSell() > 0"/>
                          <span class="invalid text-danger" data-bind="validationMessage: sellAmount"></span>
                        </td> 
                        <td data-bind="text: baseAsset"></td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td>
                          <input type="text" class="form-control input-sm number" type="text" data-bind="value: sellTotal, hasFocus: sellTotalHasFocus, valueUpdate: 'input', enable: availableBalanceForSell() > 0"/>
                        </td> 
                        <td data-bind="text: quoteAsset"></td>
                      </tr>
                      <tr>
                        <td>Fee</td>
                        <td class="number" data-bind="text: sellFee"></td> 
                        <td>{{= btc}}</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align:center">
                          <a id="sellButton" class="btn btn-default btn-lg" data-bind="click: sell">Sell (<span data-bind="text:baseAsset + '→' + quoteAsset"></span>)</a>
                        </td>
                      </tr>
                  </tbody>
                </table>
            
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

  </div> <!-- end row -->  


  
  <div class="row">

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3>Sell orders</h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="custom-scroll table-responsive" style="height:250px; overflow-y: scroll;">
                  <table class="orderBook table table-striped table-bordered table-condensed table-hover">
                      <thead>
                          <tr class="centerHeader">
                              <th>Price [<span data-bind="text: quoteAsset + '/' + baseAsset"></span>]</th>
                              <th>Amount [<span data-bind="text: baseAsset"></span>]</th>
                              <th>Total [<span data-bind="text: quoteAsset"></span>]</th>
                          </tr>
                      </thead>
                      <tbody data-bind="foreach: askBook"> <!-- ascending order -->
                          <tr data-bind="click: $parent.selectSellOrder, visible: !exclude">
                              <td data-bind="text: price"></td>
                              <td data-bind="text: amount"></td> <!-- quantity (count) -->
                              <td data-bind="text: total"></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-orderBook" data-widget-editbutton="false" data-widget-deletebutton="false"
       data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-sortable="false" data-widget-grid="false" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome()">
        <header>
            <span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
            <h3>Buy orders</h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="custom-scroll table-responsive" style="height:250px; overflow-y: scroll;">
                  <table class="orderBook table table-striped table-bordered table-condensed table-hover">
                      <thead>
                          <tr class="centerHeader">
                              <th>Price [<span data-bind="text: quoteAsset + '/' + baseAsset"></span>]</th>
                              <th>Amount [<span data-bind="text: baseAsset"></span>]</th>
                              <th>Total [<span data-bind="text: quoteAsset"></span>]</th>
                          </tr>
                      </thead>
                      <tbody data-bind="foreach: bidBook"> <!-- descending order -->
                          <tr data-bind="click: $parent.selectBuyOrder, visible: !exclude">
                              <td data-bind="text: price"></td>
                              <td data-bind="text: amount"></td> <!-- quantity (count) -->
                              <td data-bind="text: total"></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->

  </div> <!-- end row -->  

  <div class="row" data-bind="fadeVisibleInOnly: validationModelBaseOrders.isValid() && !dexHome() && tradeHistory().length > 0">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-tradeHistory" data-widget-editbutton="false" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-grid="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-circle"></i> </span>
            <h3>Completed Trades for <span data-bind="text: dispAssetPair"></span></h3>
            <div class="clearfix"></div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <div class="widget-body-toolbar">
                </div>
                <table id="tradeHistory" class="table table-striped table-hover table-bordered datatable_tabletools">
                    <thead>
                        <tr class="centerHeader">
                            <th>Type</th>
                            <th>Block Time</th>
                            <th>Price [<span data-bind="text: quoteAsset"></span>]</th>
                            <th>Amount [<span data-bind="text: baseAsset"></span>]</th>
                            <th>Total [<span data-bind="text: quoteAsset"></span>]</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: tradeHistory"> <!-- descending order -->
                        <tr>
                            <td data-bind="text: type, attr: {class: type}"></td>
                            <td data-bind="text: block_time" style="white-space:nowrap"></td>
                            <td class="number" data-bind="text: price"></td>
                            <td class="number" data-bind="text: amount"></td> <!-- quantity (count) -->
                            <td class="number" data-bind="text: total"></td>
                            <td class="number" data-bind="text: status"></td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->
  </div> <!-- end row -->
</section>
