<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-tasks fa-fw "></i> 
        My Portfolio 
    </h1>
    <div id="portfolioMarketBar">
      <h2>Market:&nbsp;</h2>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active" data-bind="click: showPortfolioInXCP">
            <input type="radio" name="options" id="xcpMarket"> <i class="fa fa-times"></i>&nbsp;{{= xcp}}
          </label>
          <label class="btn btn-primary" data-bind="click: showPortfolioInBTC">
            <input type="radio" name="options" id="btcMarket"> Ð&nbsp;{{= btc}}
          </label>
      </div>                
    </div>
  </div>
</div>

<section id="widget-grid" class="portfolioGrid"> <!-- widget grid -->
  <div class="row"> <!-- row -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-portfolioAllocation" data-widget-editbutton="false" data-widget-deletebutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h3>Portfolio Overview</h3>
          </header>
          <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
              
              <div class="row">
                  <div class="col-lg-4">
                      <div id="portfolioAssetValsPie"></div>
                  </div>
                  <div class="col-lg-4">
                      <div id="portfolioAssetBalsPie"></div>
                  </div>
                  <div class="col-lg-4">
                    <div id="pctChangeBar"></div>
                  </div>
            </div> <!-- end widget content -->
          </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->
  </div> <!-- end row -->
    
  <div class="row" data-bind="foreach: marketCapTables"> <!-- row -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="fadeVisibleInOnly: base == $parent.showPortfolioIn()"> <!-- NEW WIDGET START -->
      <div class="jarviswidget defaultWidgetColor" id="wid-id-assetMarketInfo" data-widget-editbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h3>Portfolio Composition (in <span data-bind="text: base"></span>)</h3>
            <div class="widget-toolbar">
            </div>
        </header>
        <div> <!-- widget div-->
            <div class="widget-body no-padding"> <!-- widget content -->
                <p class="clearfix alert alert-success">
                    <i class="fa fa-eye"></i>&nbsp;Only the assets you own with established market value (via completed
                    trades on the Distributed Exchange) are listed here. 
                </p>
                <div class="widget-body-toolbar">
                </div>
                <table data-bind="attr: {id: 'assetMarketTable-' + base }" width="100%" class="assetMarketTable table table-striped table-hover datatable_basic">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Token</th>
                            <th>Market Cap</th>
                            <th>Price</th>
                            <th>Total Supply</th>
                            <th>Volume (24h)</th>
                            <th>% Change (24h)</th>
                            <th>Market Cap Graph (7d)</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: data">
                        <tr>
                            <td class="leaderboardAssetText" data-bind="text: position"></td>
                            <td class="leaderboardAssetText" data-bind="html: dispAsset"></td>
                            <td data-bind="text: marketCap"></td>
                            <td data-bind="text: price"></td>
                            <td data-bind="text: supply"></td>
                            <td data-bind="text: volume"></td>
                            <td data-bind="text: pctChange, class: pctChangeColorClass"></td>
                            <td data-bind="attr: { id: 'miniChart-' + $parent.base + '-' + asset }" class="leaderboardMiniChart"></td>
                            
                            <td data-bind="text: marketCapRaw" class="display-none"></td>
                            <td data-bind="text: priceRaw" class="display-none"></td>
                            <td data-bind="text: supplyRaw" class="display-none"></td>
                            <td data-bind="text: volumeRaw" class="display-none"></td>
                            <td data-bind="text: pctChangeRaw" class="display-none"></td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end widget content -->
        </div> <!-- end widget div -->
      </div> <!-- end widget -->
    </article> <!-- WIDGET END -->
  </div> <!-- end row -->
</section>
