<div id="rps">

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
      <h1 class="page-title txt-color-blueDark">
        <i class="glyphicon glyphicon-hand-right"></i> 
          Rock-Paper-Scissors<span data-bind="visible: possibleMoves() == 5" style="font-size:24px">-Lizard-Spock</span>
      </h1>
    </div>
  </div>

  <div id="pendingRPS" data-bind="fadeVisibleInOnly: pendingRPS()" class="alert alert-danger alert-block">
    <i class="fa-fw fa fa-btc"></i>
    <strong>Pending Game:</strong> As you have one or more pending game, please stay logged in so that the game(s) can be properly resolved. 
    Once your game has been matched, it will take one more block for the game to complete.<br />
    Be careful, if you close the Wallet before the end of the game you can lose money!!
  </div>

  <section id="widget-grid"> <!-- widget grid -->

    <div class="row"> <!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget defaultWidgetColor" data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
              <h3>
                Play Rock-Paper-Scissors<span data-bind="visible: possibleMoves() == 5">-Lizard-Spock</span>
              </h3>
              <div class="clearfix"></div>
            </header>
            <div> <!-- widget div-->
              <div class="widget-body" data-bind="validationOptions: { insertMessages: false }" style="position:relative"> <!-- widget content -->

                <div class="row">
                  <div class="col col-lg-12 rps-play">
                    <h2>1. Select your move</h2>
                    <div>
                      <ul class="rps-images" data-bind="foreach: rpssl">
                        <li class="rps-image" data-bind="attr: {rel: value}, visible: value <= $parent.possibleMoves">
                          <img data-bind="attr: {src: 'assets/'+name+'.png'}, click: $parent.selectMove" /><br />
                          <span data-bind="text: name"></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col col-lg-12 rps-play">
                    <h2 data-bind="visible: showAdvancedOptions() == false">2. Select your wager</h2>
                    <h2 data-bind="visible: showAdvancedOptions">2. Select your options</h2>
                    <div class="wager-groups" data-bind="visible: showAdvancedOptions() == false">
                      <div class="btn-group" data-toggle="buttons" data-bind="foreach: wagers">
                        <label class="radioBtn btn btn-lg" data-bind="attr: {style: 'background-image:url(assets/'+picto+'.png)'}">
                          <input type="radio" name="wager" data-bind="attr: {value: wager}, btnGroupChecked: $parent.wager">
                          <span class="amount" data-bind="text: wager + ' {{= xcp}}'"></span>
                          <span class="openedCount fa  fa-hand-o-right" data-bind="html: '&nbsp;' + game_count + ' open'"></span>
                        </label>
                      </div>
                      <br /><span class="invalid" data-bind="validationMessage: wager"></span>
                    </div>
                  </div>
                </div>

                <div class="row rpsfield">
                  <label class="col col-lg-2 control-label font-medlg" data-bind="visible: showAdvancedOptions() == false" style="padding-left:0">Source:</label>
                  <label class="col col-lg-3 control-label font-medlg" data-bind="visible: showAdvancedOptions">Source:</label>
                  <div class="col col-lg-9">
                    <select class="form-control" style="width: 280px;vertical-align: top;margin-right: 12px;" name="source" data-bind="options: availableAddresses, optionsValue: 'address', optionsText: 'label', value: sourceAddress, select2: { minimumResultsForSearch: 10, escapeMarkup: 'direct' }"></select>
                    <div class="note">
                      Do not make multiple wagers of the same size on different addresses in your wallet, 
                      <a href="https://www.youtube.com/watch?v=92kpC3WWeMg" target="_blank">as they can match each other.</a>
                    </div>
                  </div>
                  
                </div>
                <div class="row rpsfield margin-top-15" data-bind="visible: showAdvancedOptions">
                  <label class="col col-lg-3 control-label font-medlg">Wager:</label>
                  <div class="col col-lg-9">
                    <input type="text"  name="wager" class="number form-control"  data-bind="value: wager, valueUpdate: 'input'" /> {{= xcp}}
                    <br /><span class="invalid" data-bind="validationMessage: wager"></span>
                  </div>
                </div>
                <div class="row rpsfield" data-bind="visible: showAdvancedOptions">
                  <label class="col col-lg-3 control-label font-medlg">Expiration:</label>
                  <div class="col col-lg-9">
                    <input type="text"  name="expiration" class="number form-control"  data-bind="value: expiration, valueUpdate: 'input'" /> blocks
                    <br /><span class="invalid" data-bind="validationMessage: expiration"></span>
                    <div class="note">how many blocks a {{= xcp_name}} has to take the other side of the game.</div>
                  </div>
                </div>

                <div class="row" data-bind="visible: playLabel" style="margin-top:15px">
                  <div class="col col-lg-12 rps-play">
                    <a class="btn btn-primary btn-lg" href="#" data-bind="html: playLabel, click: doAction"></a>
                  </div>
                </div>

                <div class="show-advanced">
                  <input type="checkbox" name="showAdvancedOptions" value="1" data-bind="checked: showAdvancedOptions" />
                  <label>Advanced Options</label>             
                </div>

                <div class="rps5button">
                  <div class="rpsButton">
                    <img src="images/spock-lizard.jpg" data-bind="click: toggleGame" />
                  </div>
                  <a href="http://www.youtube.com/watch?v=iapcKVn7DdY" target="_blank" data-bind="visible: possibleMoves() == 5">Watch rules</a>
                </div>

              </div>
            </div> <!-- end widget div -->
        </div> <!-- end widget -->
      </article> <!-- WIDGET END -->
    </div> <!-- end row -->  

    <div class="row"> <!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- NEW WIDGET START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget defaultWidgetColor" data-widget-editbutton="false" data-widget-deletebutton="false">
            <header>
              <span class="widget-icon"> <i class="fa fa-rocket"></i> </span>
              <h3>My games</h3>
              <div class="clearfix"></div>
            </header>
            <div id="openGames"> <!-- widget div-->
              <div class="widget-body no-padding" data-bind="validationOptions: { insertMessages: false }"> <!-- widget content -->
                <div class="widget-body-toolbar"></div>

                <table width="100%" class="table table-striped table-hover datatable_basic" id="myRpsTable">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Block</th>
                      <th>Address</th>
                      <th>Wager</th>     
                      <th>Move</th>   
                      <th>Counter move</th>
                      <th>Game</th>
                      <th>Expiration</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: { data: myGames, as: 'game' }">
                    <tr>
                      <td style="text-align:center" data-bind="html: game.status_html"></td> 
                      <td data-bind="text: game.block_index"></td>
                      <td data-bind="text: game.address_label"></td>   
                      <td class="number" data-bind="text: game.wager"></td>
                      <td data-bind="text: game.move_str"></td>
                      <td data-bind="text: game.countermove_str"></td>
                      <td data-bind="text: game.game_type"></td> 
                      <td data-bind="html: game.expiration"></td>
                    </tr>
                  </tbody>
                </table>

              </div>
           </div> <!-- end widget div -->
        </div> <!-- end widget -->
      </article> <!-- WIDGET END -->
    </div> <!-- end row -->

  </section>

</div>
