/* 
 * Logged in site specific
 */
#qr {
    width: 185px;
    height: 185px;
    display: inline-block;
}

#qr_addr {
    position: relative;
    z-index: 1;
}


/* Form styles (we have to redo these because we do forms a bit
 * differently than SmartAdmin does, due to our use of knockout) */
.smart-form span.invalid {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}

.smart-form input.invalid {
    background: #fff0f0;
    border-color: #A90329;
}

.smart-form input[readonly="readonly"] {
    background: #eee;
}

p.formIntro {
    margin: 15px 0 0 15px;
}
