/* 
 * Logged in site specific
 */
#qr {
    width: 185px;
    height: 185px;
    display: inline-block;
}

#qr_addr {
    position: relative;
    z-index: 1;
}

.emptyFeedContainer {
    text-align: center;
    position: relative;
    top: 160px;
}

span.modeIndicator {
  margin-left:10px;
  padding: 5px;
  position:relative;
  top:15px;
}


/* 
 * Leaderboard page
 */
.leaderboardAssetText {
  font-weight: bold;
  font-size: 1.15em;
}
.leaderboardMiniChart {
  width:180px;
  height:60px;
}


/* 
 * History page
 */
.historyBalsFieldset {
  padding: 5px 14px 5px !important;
  background: inherit !important;
}

.historyRecentTxFieldset {
  padding: 5px 14px 25px !important;
  background: inherit !important;
}


/*
 * Stats page
 */
#statsTxnHistoryContainer {
  resize: both;
  width: 100%;
}


/*
 * Portfolio/Leaderboard
 */
#portfolioMarketBar, #leaderboardMarketBar {
  padding-bottom: 20px;
}

#portfolioMarketBar h2, #leaderboardMarketBar h2 {
  display: inline;
}


#noticeTestnet {
  font-size: 26px;
  font-weight: bolder;
  color: red;
  background-color: white;
  display: block;
  width: 230px;
  position: absolute;
  left: 50%;
  margin-left: -115px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width : 860px) {
  #noticeTestnet {
    font-size:13px;
    width: 116px;
    margin-left: -58px;
  }
}

@media only screen and (max-width : 500px) {
  #noticeTestnet {
    display:none;
  }
}
