<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CarbonWallet - Secure Deterministic Bitcoin Wallet</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Deterministic Bitcoin Wallet" name="description">
    <meta content="carbonwallet" name="author">
    
    <!-- If I have seen further it is by standing on the shoulders of giants. -->
    
    <!-- Style sheets -->
    <link href="/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/packaged-app.css" rel="stylesheet">
    
    <link href="/favicon.png" rel="icon" type="image/png">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> 
          <span class="icon-bar"></span> <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="/"><i class="icon-money"></i> CarbonWallet</a> 
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a id="home" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content" style="margin-top: 60px">    
      <div class="container">       
        <div class="row">
          <div class="span8">
            {{content}}
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p><i class="icon-money"></i> <strong>CarbonWallet &copy; 2013</strong></p>
      <p><small>Powered by 
        <a href="http://pages.github.com">GitHub Pages</a> | 
        <a href="https://github.com/carbonwallet/carbonwallet.github.io">View Source Code</a> 
        </small>
      </p>
    </footer>
  </body>
</html>
